RewriteEngine On

ErrorDocument 404 /404.php

# Resolve .php file for extensionless php urls
RewriteRule ^([^/.]+)$ $1.php [L]

# Redirect 
Redirect 301 /silent-auction https://www.winningcause.org/dancemarathonatuf/